/* General Styles */
@import "reset.css";

body {
  direction: rtl;
  background-color: #ebe6e6;
  font-family: tahoma;
}

.container {
  width: 1100px;
  margin: auto;
  /* background-color: yellow; */
  position: relative;
}
.clearfix {
  clear: both;
}

/* Header */
#header {
  margin-top: 20px;
}

#header .titles {
  /* background-color: red; */
  display: inline-block;
  position: relative;
  top: -15px;
  right: 10px;
}

#header .titles h1 {
  font-size: 30px;
  font-weight: bold;
}

#header .titles h2 {
  font-size: 15x;
  margin-top: 10px;
}

#header #logo img {
  width: 90px;
}

#header .users {
  /* background-color: green; */
  position: absolute;
  left: 5px;
  top: 40px;
}

#header .users .button {
  /* background-color: rgb(39, 20, 92); */
  padding: 10px 15px;
  border-radius: 3px;
  color: #fff;
  text-decoration: none;
}

#header .users .login {
  background-color: #1565c0;
}

#header .users .login:hover {
  background-color: #0d47a1;
}

#header .users .register {
  background-color: #2e7d32;
}

#header .users .register:hover {
  background-color: #1b5e20;
}

/* Navigation */
#navigation {
  background-color: #263238;
  margin-top: 20px;
}

#navigation ul li {
  display: inline-block;
}

#navigation ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 17px;
  padding: 20px 15px;
  display: inline-block;
  transition: 0.15s;
}

#navigation ul li a:hover {
  background-color: #37474f;
}

/* Content */
#content {
  float: right;
  width: 800px;
  padding: 10px;
  box-sizing: border-box;
  margin-top: 20px;
}

.post-item {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-top: 15px;
}

.post-item:first-child{
  margin-top: 0;
}

.post-item .post-title {
  font-weight: bold;
  border-bottom: 2px dashed #ccc;
  font-size: 27px;
  padding: 15px;
}

.post-item .post-image {
  margin: 10px;
  float: right;
}

.post-item .post-image img {
  width: 300px;
  height: 200px;
  border: 2px solid #ccc;
  border-radius: 5px;
}

.post-item .post-content {
  padding: 5px;
  height: 240px;
  overflow: hidden;
  line-height: 25px;
}

.post-item .post-data{
    background-color: #f0f0f0;
    border-top: 1px solid #ccc;
    padding: 10px;
    position:relative ;
}

.post-item .read-more{
    background-color: #212121;
    color:#fff;
    text-decoration: none;
    border-radius: 3px;
    padding: 5px;
    font-size: 12px;
    position: absolute;
    left: 5px;
    bottom: 7px;
}

.post-item .read-more:hover{
background-color: #000;
}

/* Sidebar */
#sidebar {
  background-color: fff;
  float: left;
  width: 295px;
  padding: 10px;
  box-sizing: border-box;
}

#sidebar .sidebar-item {
  background-color: #fff;
  border: 1px ccc solid;
  margin-top: 10px;
  border-radius: 3px;
}

#sidebar .sidebar-item .sidebar-header {
  background-color: #212121;
  text-align: center;
  color: #fff;
  padding: 10px;
  border-radius: 3px 3px 0 0;
}

#sidebar .sidebar-item .sidebar-content {
  padding: 10px;
}

#sidebar .categories ul li a {
  text-decoration: none;
  color: #212121;
  margin-top: 10px;
  display: inline-block;
  border-right: 2px solid #212121;
  padding-right: 5px;
  transition: 0.25s;
}

#sidebar .categories ul li a:hover {
  border-right: 4px solid #1565c0;
  margin-right: 5px;
}

#sidebar .newsletter {
  text-align: center;
}

#sidebar .newsletter p {
  font-size: 16px;
  line-height: 23px;
}

#sidebar .newsletter .email-input {
  padding: 5px;
  width: 90%;
  margin-top: 10px;
}

#sidebar .newsletter .submit-btn {
  background-color: #2e7032;
  margin-top: 10px;
  border: none;
  color: #fff;
  padding: 5px 15px;
  border-radius: 3px;
}

#sidebar .newsletter .submit-btn:hover {
  background-color: #18481a;
  cursor: pointer;
}
/* Footer */
#footer {
  background-color: #212121;
  padding: 20px;
  text-align: center;
  margin-top: 20px;
}

#footer p{
    color:#fff;
    font-size: 14px;
}
